.container {
  height: 100vh;
  gap: 0;
}

.navbar {
  height: 100%;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-blue-filled);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-lg);
  border-bottom: 1px solid var(--mantine-color-blue-7);
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.headerIcon {
  width: 38px;
  height: 38px;
  color: var(--mantine-color-white);
}

.headerTitle {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  color: var(--mantine-color-white);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-blue-7);
}

.main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-gray-1);
}
